<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50239536284-5mnpnhvkfkt94612ilr13tf5mb1q1ive.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50239536284-5mnpnhvkfkt94612ilr13tf5mb1q1ive</string>
	<key>API_KEY</key>
	<string>AIzaSyBdGaWIO-phfiVH1u4eE_6cVn5dLVki1P4</string>
	<key>GCM_SENDER_ID</key>
	<string>50239536284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>to-do-flutter-cbc32</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-flutter-cbc32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50239536284:ios:64a8ef1d8e55af02404159</string>
</dict>
</plist>